<h1>Rekenen</h1>

<!-- Options -->
<div ng-show="exerciseDriver === null">
    <h3>Opties</h3>
    <div>
        <dl class="dl-horizontal">
            <dt>Type oefening:</dt>
            <dd>
                <div class="form-inline">
                    <input id="configurationChallengeFactoryTypeSplitNumbers" type="radio" ng-model="configuration.challengeFactory.type" ng-value="{{ChallengeFactoryType.SplitNumbers}}" />
                    <label for="configurationChallengeFactoryTypeSplitNumbers"><span class="glyphicon glyphicon-menu-up"></span> nummers splitsen</label>
                </div>
                <div class="form-inline">
                    <input id="configurationChallengeFactoryTypeSubtract" type="radio" ng-model="configuration.challengeFactory.type" ng-value="{{ChallengeFactoryType.Subtract}}" />
                    <label for="configurationChallengeFactoryTypeSubtract"><span class="glyphicon glyphicon-minus"></span> aftrekken</label>
                </div>
                <div class="form-inline">
                    <input id="configurationChallengeFactoryTypeAdd" type="radio" ng-model="configuration.challengeFactory.type" ng-value="{{ChallengeFactoryType.Add}}" />
                    <label for="configurationChallengeFactoryTypeAdd"><span class="glyphicon glyphicon-plus"></span> optellen</label>
                </div>
            </dd>
            <dt class="offset-top-lg">Opties oefening:</dt>
            <dd class="offset-top-lg">
                <div class="form-inline">
                    opgave is gedaan als ze
                    <input id="configurationChallengeEndDriverTypeAnswered" type="radio" ng-model="configuration.challengeEndDriver.type" ng-value="{{ChallengeEndDriverType.Answered}}" class="offset-left-md" />
                    <label for="configurationChallengeEndDriverTypeAnswered"><span class="glyphicon glyphicon-comment"></span> beantwoord is</label>
                    <input id="configurationChallengeEndDriverTypeSolved" type="radio" ng-model="configuration.challengeEndDriver.type" ng-value="{{ChallengeEndDriverType.Solved}}" class="offset-left-md" />
                    <label for="configurationChallengeEndDriverTypeSolved"><span class="glyphicon glyphicon-ok"></span> opgelost is</label>
                    <!--<input id="configurationChallengeEndDriverTypeManual" type="radio" ng-model="configuration.challengeEndDriver.type" ng-value="{{ChallengeEndDriverType.Manual}}" class="offset-left-md" />
                    <label for="configurationChallengeEndDriverTypeManual">manueel</label>-->
                </div>
                <div class="form-inline">
                    <label for="configurationChallengeFactoryOptionsMinNumberToSplit">getallen tussen</label>
                    <input id="configurationChallengeFactoryOptionsMinNumberToSplit" type="number" ng-model="configuration.challengeFactory.options.minNumberToSplit" class="form-control width-sm" />
                    <label for="configurationChallengeFactoryOptionsMaxNumberToSplit">en</label>
                    <input id="configurationChallengeFactoryOptionsMaxNumberToSplit" type="number" ng-model="configuration.challengeFactory.options.maxNumberToSplit" class="form-control width-sm" />
                </div>
                <div class="form-inline">
                    volgorde hoofdgetal is
                    <input id="configurationChallengeFactoryOptionsNumberToSplitSequenceRandom" type="radio" ng-model="configuration.challengeFactory.options.numberToSplitSequence" ng-value="{{SequenceType.Random}}" class="offset-left-md" />
                    <label for="configurationChallengeFactoryOptionsNumberToSplitSequenceRandom"><span class="glyphicon glyphicon-random"></span> willekeurig</label>
                    <input id="configurationChallengeFactoryOptionsNumberToSplitSequenceUp" type="radio" ng-model="configuration.challengeFactory.options.numberToSplitSequence" ng-value="{{SequenceType.Up}}" class="offset-left-md" />
                    <label for="configurationChallengeFactoryOptionsNumberToSplitSequenceUp"><span class="glyphicon glyphicon-arrow-up"></span> omhoog</label>
                    <input id="configurationChallengeFactoryOptionsNumberToSplitSequenceDown" type="radio" ng-model="configuration.challengeFactory.options.numberToSplitSequence" ng-value="{{SequenceType.Down}}" class="offset-left-md" />
                    <label for="configurationChallengeFactoryOptionsNumberToSplitSequenceDown"><span class="glyphicon glyphicon-arrow-down"></span> omlaag</label>
                </div>
                <div class="form-inline" ng-hide="configuration.challengeFactory.options.numberToSplitSequence === SequenceType.Random">
                    volgorde andere getallen is
                    <input id="configurationChallengeFactoryOptionsSplitComponentSequenceRandom" type="radio" ng-model="configuration.challengeFactory.options.splitComponentSequence" ng-value="{{SequenceType.Random}}" class="offset-left-md" />
                    <label for="configurationChallengeFactoryOptionsSplitComponentSequenceRandom"><span class="glyphicon glyphicon-random"></span> willekeurig</label>
                    <input id="configurationChallengeFactoryOptionsSplitComponentSequenceUp" type="radio" ng-model="configuration.challengeFactory.options.splitComponentSequence" ng-value="{{SequenceType.Up}}" class="offset-left-md" />
                    <label for="configurationChallengeFactoryOptionsSplitComponentSequenceUp"><span class="glyphicon glyphicon-arrow-up"></span> omhoog</label>
                    <input id="configurationChallengeFactoryOptionsSplitComponentSequenceDown" type="radio" ng-model="configuration.challengeFactory.options.splitComponentSequence" ng-value="{{SequenceType.Down}}" class="offset-left-md" />
                    <label for="configurationChallengeFactoryOptionsSplitComponentSequenceDown"><span class="glyphicon glyphicon-arrow-down"></span> omlaag</label>
                </div>
            </dd>
            <dt class="offset-top-lg">Einde oefening:</dt>
            <dd class="offset-top-lg">
                <div class="form-inline">
                    <input id="configurationExerciseEndDriverTypeInfinite" type="radio" ng-model="configuration.exerciseEndDriver.type" ng-value="{{ExerciseEndDriverType.Infinite}}" />
                    <label for="configurationExerciseEndDriverTypeInfinite">nooit</label>
                </div>
                <div class="form-inline">
                    <input id="configurationExerciseEndDriverTypeChallengesCompleted" type="radio" ng-model="configuration.exerciseEndDriver.type" ng-value="{{ExerciseEndDriverType.ChallengesCompleted}}" />
                    <label for="configurationExerciseEndDriverTypeChallengesCompleted">na</label>
                    <input id="configurationExerciseEndDriverOptionsEndAfterChallengesCompleted" type="number" ng-model="configuration.exerciseEndDriver.options.endAfterChallengesCompleted" class="form-control width-sm" />
                    <label for="configurationExerciseEndDriverOptionsEndAfterChallengesCompleted">oefeningen</label>
                </div>
                <div class="form-inline">
                    <input id="configurationExerciseEndDriverTypeChallengesSolved" type="radio" ng-model="configuration.exerciseEndDriver.type" ng-value="{{ExerciseEndDriverType.ChallengesSolved}}" />
                    <label for="configurationExerciseEndDriverTypeChallengesSolved">na</label>
                    <input id="configurationExerciseEndDriverOptionsEndAfterChallengesSolved" type="number" ng-model="configuration.exerciseEndDriver.options.endAfterChallengesSolved" class="form-control width-sm" />
                    <label for="configurationExerciseEndDriverOptionsEndAfterChallengesSolved">juiste antwoorden</label>
                </div>
                <!--<div class="form-inline">
                    <input id="configurationExerciseEndDriverType" type="radio" ng-model="configuration.exerciseEndDriver.type" ng-value="{{ExerciseEndDriverType.Time}}" />
                    <label for="configurationExerciseEndDriverType">na</label>
                    <input id="configurationExerciseEndDriverOptionsEndAfterSeconds" type="number" ng-model="configuration.exerciseEndDriver.options.endAfterSeconds" class="form-control width-sm" />
                    <label for="configurationExerciseEndDriverOptionsEndAfterSeconds">seconden</label>
                </div>-->
            </dd>
        </dl>
        <button class="btn btn-default btn-success" ng-click="startExercise()"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Start</button>
    </div>
</div>

<div ng-hide="exerciseDriver === null">
    <!-- Exercise Status -->
    <div>
        <h3>Voortgang</h3>
        <div>
            <dl class="dl-horizontal">
                <dt ng-hide="exerciseDriver.status.exerciseTotalSteps === null">Oefening</dt>
                <dd ng-hide="exerciseDriver.status.exerciseTotalSteps === null">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="min-width: 4em;" ng-style="{ 'width': (exerciseDriver.status.exerciseCompletePercentage * 100) + '%'}">
                            <span>{{exerciseDriver.status.exerciseCurrentStep}}</span>
                            <span>/</span>
                            <span>{{exerciseDriver.status.exerciseTotalSteps}}</span>
                            <span>({{exerciseDriver.status.exerciseCompletePercentage | percentage:0}})</span>
                        </div>
                    </div>
                </dd>
                <dt>Score</dt>
                <dd>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" ng-class="exerciseDriver.status.challengesAnsweredCount > 0 && exerciseDriver.status.challengesSolvedPercentage < 0.5 ? 'progress-bar-danger': 'progress-bar-success'" role="progressbar" style="min-width: 4em;" ng-style="{ 'width': (exerciseDriver.status.challengesSolvedPercentage * 100) + '%'}">
                            <span>{{exerciseDriver.status.challengesSolvedCount}}</span>
                            <span>/</span>
                            <span>{{exerciseDriver.status.challengesAnsweredCount}}</span>
                            <span>({{exerciseDriver.status.challengesSolvedPercentage | percentage:0}})</span>
                        </div>
                    </div>
                </dd>
            </dl>
            <button class="btn btn-default btn-danger" ng-click="stopExercise()"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Stoppen</button>
            <button class="btn btn-default btn-warning" ng-click="startExercise()"><span class="glyphicon glyphicon-repeat"></span>&nbsp;Opnieuw Beginnen</button>
        </div>
    </div>

    <!-- Exercise Result -->
    <div ng-show="exerciseDriver.status.isComplete">
        <h3>Resultaat</h3>
        <dl class="dl-horizontal">
            <dt>Opgaven</dt>
            <dd>{{exerciseDriver.status.challengesCompletedCount}}</dd>
            <dt>Antwoorden</dt>
            <dd>{{exerciseDriver.status.challengesAnsweredCount}}</dd>
            <dt>Juiste Antwoorden</dt>
            <dd>{{exerciseDriver.status.challengesSolvedCount}}</dd>
            <dt>Score</dt>
            <dd>{{exerciseDriver.status.challengesSolvedPercentage | percentage:0}}</dd>
        </dl>
    </div>

    <!-- Challenge -->
    <div ng-hide="exerciseDriver.currentChallenge === null">
        <h3>Opgave {{exerciseDriver.status.challengeNumber}}</h3>
        <!-- Current Challenge -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="offset-top-lg offset-bottom-lg">
                    <table ng-show="exerciseDriver.currentChallenge.layout === ChallengeLayoutType.SplitTop">
                        <tr>
                            <td></td>
                            <td></td>
                            <td><a class="alert alert-info xxl">{{exerciseDriver.currentChallenge.uiComponents[0].content}}</a></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><span class="xxl">/</span></td>
                            <td></td>
                            <td><span class="xxl">\</span></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a class="alert alert-info xl">{{exerciseDriver.currentChallenge.uiComponents[1].content}}</a></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <span ng-show="exerciseDriver.currentChallenge.getLastResponse() === null" class="alert alert-warning xl">?</span>
                                <span ng-hide="exerciseDriver.currentChallenge.getLastResponse() === null" class="alert xl" ng-class="exerciseDriver.currentChallenge.isSolved ? 'alert-success' : 'alert-danger'">{{exerciseDriver.currentChallenge.getLastResponse().answer}}</span>
                            </td>
                        </tr>
                    </table>
                    <div ng-show="exerciseDriver.currentChallenge.layout === ChallengeLayoutType.LeftToRight">
                        <span ng-repeat="uiComponent in exerciseDriver.currentChallenge.uiComponents">
                            <span ng-show="uiComponent.type === ChallengeUIComponentType.PrimaryComponent" class="alert alert-info xxl">{{uiComponent.content}}</span>
                            <span ng-show="uiComponent.type === ChallengeUIComponentType.SecondaryComponent" class="alert alert-info xl">{{uiComponent.content}}</span>
                            <span ng-show="uiComponent.type === ChallengeUIComponentType.Ornament" class="alert xl">{{uiComponent.content}}</span>
                            <span ng-show="uiComponent.type === ChallengeUIComponentType.AnswerPlaceholder">
                                <span ng-show="exerciseDriver.currentChallenge.getLastResponse() === null" class="alert alert-warning xl">?</span>
                                <span ng-hide="exerciseDriver.currentChallenge.getLastResponse() === null" class="alert xl" ng-class="exerciseDriver.currentChallenge.isSolved ? 'alert-success' : 'alert-danger'">{{exerciseDriver.currentChallenge.getLastResponse().answer}}</span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div>
                    <span ng-repeat="availableAnswer in exerciseDriver.currentChallenge.availableAnswers">
                        <button class="btn btn-default btn-lg btn-warning" ng-click="respondToCurrentChallenge(availableAnswer)">{{availableAnswer}}</button>
                    </span>
                    <button class="btn btn-default btn-lg btn-info pull-right" ng-click="skipCurrentChallenge()">Overslaan&nbsp;<span class="glyphicon glyphicon-step-forward"></span></button>
                </div>
            </div>
        </div>
        <!-- Last Response Status -->
        <div ng-hide="exerciseDriver.status.lastResponseStatus === null" class="offset-top-lg">
            <div class="alert xl" ng-class="exerciseDriver.status.lastResponseStatus.messageSeverity === Severity.Success ? 'alert-success' : 'alert-danger'">
                <span ng-show="exerciseDriver.status.lastResponseStatus.messageSeverity === Severity.Success" class="glyphicon glyphicon-thumbs-up"></span>
                <span ng-hide="exerciseDriver.status.lastResponseStatus.messageSeverity === Severity.Success" class="glyphicon glyphicon-thumbs-down"></span>
                <span>{{exerciseDriver.status.lastResponseStatus.message}}</span>
            </div>
        </div>
    </div>
</div>