<h1>
    Nummers Splitsen
</h1>

<!-- Exercise Status -->
<h2>Score</h2>
<div>
    <div class="progress">
        <div class="progress-bar progress-bar-striped" ng-class="exerciseDriver.status.challengesCompletedCount > 0 && exerciseDriver.status.challengesSolvedPercentage < 0.5 ? 'progress-bar-danger': 'progress-bar-success'" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 4em; width: 2%;" ng-style="{ 'width': (exerciseDriver.status.challengesSolvedPercentage * 100) + '%'}">
            <span>{{exerciseDriver.status.challengesSolvedCount}}</span>
            <span>/</span>
            <span>{{exerciseDriver.status.challengesCompletedCount}}</span>
            <span>({{exerciseDriver.status.challengesSolvedPercentage | percentage:0}})</span>
        </div>
    </div>
</div>

<h2>Opgave {{exerciseDriver.status.challengeNumber}}</h2>
<div class="offset-top-xl">

    <!-- Current Challenge -->
    <div>
        <table>
            <tr>
                <td></td>
                <td></td>
                <td><a class="alert alert-info xxl">{{exerciseDriver.currentChallenge.numberToSplit}}</a></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><span class="xxl">/</span></td>
                <td></td>
                <td><span class="xxl">\</span></td>
                <td></td>
            </tr>
            <tr>
                <td><a class="alert alert-info xl">{{exerciseDriver.currentChallenge.splitComponent}}</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td><span class="alert xl" ng-class="exerciseDriver.currentChallenge.getLastResponse() === null ? 'alert-warning' : (exerciseDriver.currentChallenge.isSolved ? 'alert-success' : 'alert-danger')">{{exerciseDriver.currentChallenge.getLastAnswerOr('?')}}</span></td>
            </tr>
        </table>
        <div class="offset-top-xl">
            <span ng-repeat="availableAnswer in exerciseDriver.currentChallenge.availableAnswers">
                <button class="btn btn-default btn-lg btn-warning" ng-click="respond(availableAnswer)">{{availableAnswer}}</button>
            </span>
        </div>
    </div>

    <!-- Last Response Status -->
    <div ng-hide="exerciseDriver.status.lastResponseStatus === null" class="offset-top-lg">
        <div class="alert xl" ng-class="exerciseDriver.status.lastResponseStatus.messageSeverity === Severity.Success ? 'alert-success' : 'alert-danger'">
            <span ng-show="exerciseDriver.status.lastResponseStatus.messageSeverity === Severity.Success" class="glyphicon glyphicon-thumbs-up"></span>
            <span ng-hide="exerciseDriver.status.lastResponseStatus.messageSeverity === Severity.Success" class="glyphicon glyphicon-thumbs-down"></span>
            <span>{{exerciseDriver.status.lastResponseStatus.message}}</span>
        </div>
    </div>
</div>