body {
    font-family: 'Segoe UI', sans-serif;
}

span {
}

.xl {
    font-size: x-large;
}

.xxl {
    font-size: xx-large;
}

.offset-top-md {
    margin-top: 10px;
}

.offset-top-lg {
    margin-top: 20px;
}

.offset-top-xl {
    margin-top: 40px;
}

.offset-left-md {
    margin-left: 10px !important;
}

.offset-left-lg {
    margin-left: 20px !important;
}

.offset-left-xl {
    margin-left: 40px !important;
}

.offset-bottom-md {
    margin-bottom: 10px;
}

.offset-bottom-lg {
    margin-bottom: 20px;
}

.offset-bottom-xl {
    margin-bottom: 40px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 350px;
}

    /* Allow to override when needed */
    input.wide,
    select.wide,
    textarea.wide {
        max-width: none;
    }

    input[type="checkbox"] {
        width: auto;
    }

/* Misc */
.width-sm {
    width: 60px !important;
}

.width-md {
    width: 140px !important;
}

label {
    font-weight: normal;
}